h2{
    color: rgb(156, 204, 88);
    background-color: rgb(211, 076, 126);
}

button{
    color: #0f5679;
    background-color: #3FA276;
}

p{
    color: olivedrab;
    background: orange
}

body{
    background-color: #000;
}