/*
* {
    background-color: rgb(15, 17, 121);
    color: rgb(209, 31, 31);
} 
*/
/*
<!-- SPECIFUCITY -->
<!-- !important --> Inline <stylee> --> ID --> CLASS, Pseudo Class (:) --> Element, Pseudo Element (::)  -->
 Se colocar !important, depois de uma definicao, entao tera prioridade maxima suprema
*/

p.pclasse{
    background-color: #f3a4f3;
}

body{
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #f4a261;
}

#signupid{
    background-color: rgb(224, 171, 22);
    color: brown;
}

h1, h2{
    color: darkslateblue;
}

span{
    color: #f00303;
}

.classetag{
    color:#ffba08;
    background-color: #6a040f;
    font-size: 16px;
}

.postclass a {
    color:#00fab7;
}

footer nav ul li a {
    color:#9c6644;
}

input + button{
    background-color: rgb(13, 49, 40);
    color: #f1faee;
}

h2 + button{
    font-size: 20px;
    background-color: #4d194d ;
    color: white;
}

footer > a{
    color: #000;
}

input[type="password"] {
    color:rgb(172, 20, 15)
}
/*
section[class="postclass"]{  /* poderia ser section.postclass
    background-color: #b1c5d1;
}
*/

section.postclass{  /* section[class="postclass"] */
    background-color: #b1c5d1;
}

/*
.postclass:nth-of-type(3){  /* poderia ser section.postclass. So pega o TERCEIRO de uma lista X elementos
    background-color: #78868f;
}
*/

.postclass:nth-of-type(3n){  /* poderia ser section.postclass. So pega o TERCEIRO e vai somando +3 de uma lista X elementos*/
    background-color: #78868f;
}

a[href*="google"]{ /* se possui 'google' no nome. Se fosse como termina com com,  href$="com"*/
    color: magenta;
}

a[href$="br"]{ /* se possui 'google' no nome. Se fosse como termina com com,  href$="com"*/
    color: rgb(94, 204, 176);
}

button:hover{
    background-color: #43aa8b;
    color: #492d49;
}

button:hover{
    background-color: #f7e703;
    color: #ff06ff;
}

.spanclass:hover{
    background-color: #a5306a;
    color: #cec35f;
    text-decoration: wavy overline;
}

button:active{
    background-color: #6000fa;
    color:#050500
}

.postclass button:hover{
    background-color: #a5306a;
    color: #cec35f;
}

.spanclass:hover{
    background-color: #a5306a;
    color: #cec35f;
    text-decoration: wavy overline;
}

.spanclass2:hover{
    background-color: #32fc00;
    color: #050500;
    font-weight:bolder;
    text-decoration: #f3a4f3 dotted underline;
}

.pesquisa{
    font-size: larger;
    font-weight: bolder;
    background-color: #807b64;
}

input[type="radio"]:checked{
  box-shadow: 0 0 0 3px hotpink;
}

h2::first-letter{
    font-size: 50px;
}

p::first-line{
color: #6000fa
}

p::selection{
    background-color:#32fc00;
}

p::after{
    font-size: 20px;
    color: #6000fa;
    font-weight: 400;
    content: "Inserido com ::AFTER";
}