body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    /*flex-direction: row; /* padrao eh esse, vem setado, primeiro quadrado eh verde e ultimo azul*/
    /*flex-direction: row-reverse; /* primeiro quadrado eh azul e ultimo verde, porem comecando do lado direito do container*/
   /* flex-direction: column; /* em coluna, de cima pra baixo (verde ao azul). COmecando de cima do container*/
    
   flex-direction: column-reverse; /* em coluna, de baixo pra cima (azul pro verde). Comecandode baixo do container*/
    /* OS DIVS FICARAM TAMANHO 200X100 AO INVES DE 200X200. A RESPOSTA EH PQ O HEIGHT DO CONTAINER EH 500PX, LOGO, CADA DIV SO PODERIA TER 100 (X5 = 500PX)*/
}

#container div{ /* se nao tivesse colocando width e height, os divs nao apareceriam.*/
    width: 200px;
    height: 200px;
    /*display: inline-block;  /* -- funcionou, ficou 'igual' ao flex- entre aspas. Inline-block deixou as margin entre os quadrados coloridos-" */
  
}