body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 700px; /* trocar para fazer varios testes*/
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    flex-direction: row; /* padrao eh esse, vem setado, primeiro quadrado eh verde e ultimo azul. Comeca do lado esquerdo*/
    /*flex-direction: row-reverse; /* Comecando do lado direito do container, e comeca (inicia) pelo mesmo: verde ao azul*/
    /*flex-direction: column; /* em coluna, de cima pra baixo (verde ao azul). COmecando de cima do container*/
    /*flex-direction: column-reverse; /* em coluna, de baixo pra cima (azul pro verde). Comecandode baixo do container*/
        /* OS DIVS FICARAM TAMANHO 200X100 AO INVES DE 200X200. A RESPOSTA EH PQ O HEIGHT DO CONTAINER EH 500PX, LOGO, CADA DIV SO PODERIA TER 100 (X5 = 500PX)*/
    
    /*justify-content: flex-start; /* fala que inicia da esquerda pra direita (flex-direction: row) ou de cima pra baixo (flex-direction:column) o*/
    /*justify-content: flex-end; /* fala que inicia da direita pra esquerda (flex-direction: row) ou de baixo pra cima (flex-direction:column) o */
    /*justify-content: center; /* tudo fica direcionado para o meio; Tanto pra ROW quanto em COLUMN [em column fica grudado na esquerda] */
    /*justify-content: space-between; /* deixa espacado certinho dentro do container, ocupa todo espaco da linha/coluna. O primeiro elemento gruda na esquerda (se for row) ou em cima (se for column)*/
    /*justify-content: space-around;  /* mesmo espaco na direita e esquerda (row) em cima e embaixo (column). Primeiro elemento Nao gruda na esquerda ou em cima. Nao sobrepoe direita esquerda ou cima baixo, ou seja o espacamento fica irregular nas beiradas*/
    justify-content: space-evenly; /* Sobrepoe direita esquerda ou cima baixo, ou seja o espacamento fica regular em todas as direcoes */

    /* se vc dimimuir a janela do navegador, os itens vao se readequando ou ficando menor.o FLEX-WRAP NAO DEIXA MAIS, ELE COLOCA restante dos quadrados na outra linha ou coluna */
    /* mesmo se o container for menor por padrao, os divs sao quebrados em outras linhas/colunas*/
    /*flex-wrap: wrap /*  pode combinar com flex-direction e justify-content*/
    flex-wrap: wrap-reverse /*  o wrap ocorre de forma INVERTIDO/ESPELHO. Numa ROW ao invez de descer o elemento extra, ele sobe*/
    
   

}

#container div{ /* se nao tivesse colocando width e height, os divs nao apareceriam.*/
    width: 200px;
    height: 200px;
    /*display: inline-block;  /* -- funcionou, ficou 'igual' ao flex- entre aspas. Inline-block deixou as margin entre os quadrados coloridos-" */
  
}