body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul{
    /* border: 1px solid red; --> colocamos pra facilitar a visualizacao */
    flex: 1; /* o UL (3 links) vai ocupar o space todo. entre o HOME e SIGNUP*/
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* 
@media(min-width: 600px) and (max-width: 800px){ /* pode ser somente with, max-width
    h1{
        color: blueviolet;
    }
} */
/******//******//******//******//******//******//******//******//******//******//******//******//******//******//******/
/* @media(max-width: 1500px){ /* precisa ser do maior para o menor 
    h1{
        color: rgb(32, 22, 175);
    }
}

@media(max-width: 1000px){ /* 
    h1{
        color: rgb(147, 189, 32);
    }
}

@media(max-width: 500px){ /* 
    h1{
        color: red;
    }
} */
/******//******//******//******//******//******//******//******//******//******//******//******//******//******//******/
 @media(min-width: 500px){   /* nesse caso precisa ser do menor para o maior */
    h1{
        color: rgb(32, 22, 175);
    }
}

@media(min-width: 1000px){ 
    h1{
        color: rgb(147, 189, 32);
    }
}

@media(min-width: 1500px){  
    h1{
        color: red;
    }
} 

/* @media(orientation: landscape){
    body{
        background-color: rgb(68, 140, 145);
    }
} */

@media(max-width: 768px){
    h1{
        font-size: 4em;
    }

    nav, nav ul{
        flex-direction: column;
        align-items: center; /* colocou o nav columns que estava na esquerda, para o centro. Posicao do EIXO X, pois eh COLUMN*/
    }

    /* nav ul{ --> comentou pra colocar la em cima no NAV, NAV UL
        flex-direction: column;
        align-items: center; /* colocou o nav columns que estava na esquerda, para o centro. Posicao do EIXO X, pois eh COLUMN
    } */
}

@media(max-width: 576px){
    h1{
        font-size: 2em;
    }
}