/* h1{
    background-color: rgb(230, 226, 23);
    border: 1px solid black;
    display: inline;   /* forces os H1 a serem inline ao inves de block 
  
}

span{
    background-color: aqua;
    border: 1px solid black;
    display: block; /* forces os span textos a serem block ao inves de inline 
} 

<!-- inline width and height are gnored. Margin and padding push elements away horizontally but not vertically-->
<!-- block elements break the flow of a document. Width , height , margin and padding are respected-->
<!-- inline-block behaved like an inline element excepted width, height, margin and padding are respected -->
*/

span{
    background-color: aqua;
    border: 1px solid black;
    width: 200px;  /* foi ignorado */
    padding: 20px; /* foi ignorado */
    margin: 20px;
}

 h1{
 background-color: rgb(208, 211, 20);
    border: 1px solid black;
   width: 300px;
   height: 200px;
   padding: 50px;
   margin: 50px;
   display: inline-block; 
   /*display: none;   nao eh deletado, ele ainda esta la. NO INSPECT vc acha ele, mas nao aparece */
  
}

div{    
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 5px solid black;
   /* display: inline;  fica zuado, pois com inline width and height are gnored */
    display: inline-block; /* fica OK */
    margin: 30px;
}